<!DOCTYPE html>
{%extends 'bill/base.html'%}

{%block body_block%}
<div class="row">
    <div class="col-lg-1 col-sm-1"></div>
    <div class="col">
                <form method="post">
                    {{form.as_p}}
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" value="Add another">
                </form>
    </div>
    <div class="col" style="text-align: center;margin-top:90px">
                <h1>Total: {{total}}</h1>
    </div>
</div>

    <table class="table" style="background-color:rgb(153, 189, 247);color:black;margin-top:10px">
        <tr>
            <td>bill number</td>
            <td>product name</td>
            <td>product quantity</td>
            <td>amount</td>
        </tr>
        {%for item in items%}
        <tr>
            <td>{{item.bill_number}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.product_qty}}</td>
            <td>{{item.amount}}</td>
            <td><a class="btn btn-danger" href="{%url 'orderlinedelete' item.id item.bill_number%}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
<a class='btn btn-success' href="{%url 'generate' billnum%}">Generate Bill</a>

{%endblock%}